APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Liok2lLvbvqQy7bwKca9pwCcFqSVx7GoGYW/hRLCj98=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_CONNECTION=reverb
QUEUE_CONNECTION=database

VITE_APP_NAME="${APP_NAME}"

REVERB_APP_ID=355577
REVERB_APP_KEY=ljfx8bbmbutis3c9xikr
REVERB_APP_SECRET=3ahb5ba61nzk8bbpffw5
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
